---
layout: default
---

<div class="row">
    <div class="col-xs-12">
        <h1>{{ page.title | escape }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{ content }}
    </div>
</div>

<div class="row">
    {% for news in site.categories.News %}
    <div class="col-xs-12 col-sm-6 text-center team-grid">
        <a class="post-link" href="{{ news.url | relative_url }}">
            <img class="img-responsive img-rounded" src="../images/news/{{news.img}}" alt="{{news.title | escape}}">
        </a>
        <h2>
            <a class="post-link" href="{{ news.url | relative_url }}">{{ news.title | escape }}</a>
        </h2>
        <p class="post-meta"><time datetime="{{ news.date | date_to_xmlschema }}" itemprop="datePublished">{{ news.date | date: "%b %-d, %Y" }}</time>
    </div>
    {% endfor %}
</div>